*[element-skeleton]:empty {
  height: 1em;
  width: 100%;
  vertical-align: middle;
  border-radius: 1em;
  background: linear-gradient(130deg, lightgrey, white);
  background-size: 300% 300%;
  animation: pluse-fade 1.5s ease infinite;
}

@keyframes pluse-fade { 
  0%   { background-position:100% 0% }
  5%   { background-position:90% 10% }
  10%  { background-position:80% 20% }
  15%  { background-position:70% 30% }
  20%  { background-position:60% 40% }
  25%  { background-position:50% 50% }
  30%  { background-position:40% 60% }
  35%  { background-position:30% 70% }
  40%  { background-position:20% 80% }
  45%  { background-position:10% 90% }
  50%  { background-position:0% 100% }
  55%  { background-position:10% 90% }
  60%  { background-position:20% 80% }
  65%  { background-position:30% 70% }
  70%  { background-position:40% 60% }
  75%  { background-position:50% 50% }
  80%  { background-position:60% 40% }
  85%  { background-position:70% 30% }
  90%  { background-position:80% 20% }
  95%  { background-position:90% 10% }
  100% { background-position:100% 0% }
}

*[element-skeleton]:empty.box,
*[element-skeleton]:empty.circle {
  border-radius: 0px;
  width: 24px;
  height: 24px;
}

*[element-skeleton]:empty.circle {
  border-radius: 50%;
  background-size: 288% 121%;
}

*[element-skeleton]:empty.vertical-line {
  background: linear-gradient(90deg, lightgrey, white);
  background-size: 300% 300%;
  width: 3px;
  height: 24px;
}